networks:
  default:

volumes:
  spark-logs:

services:
  spark-master:
    build:
      context: ./image
    image: spark-image
    entrypoint: ["/entrypoint.sh", "master"]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      interval: 5s
      timeout: 3s
      retries: 3
    volumes:
      - spark-logs:/opt/spark/spark-events
    ports:
      - "7077:7077"
      - "8080:8080"
    environment:
      - SPARK_NO_DAEMONIZE=true

  spark-history-server:
    image: spark-image
    entrypoint: ["/entrypoint.sh", "history"]
    depends_on:
      - spark-master
    volumes:
      - spark-logs:/opt/spark/spark-events
    ports:
      - "18080:18080"
    environment:
      - SPARK_NO_DAEMONIZE=true

  spark-worker:
    image: spark-image
    entrypoint: ["/entrypoint.sh", "worker"]
    depends_on:
      - spark-master
    volumes:
      - spark-logs:/opt/spark/spark-events
    environment:
      - SPARK_NO_DAEMONIZE=true
